<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DataGridViewUtilidades" version="1.0.1" targetFramework="net452" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="GenericRepository" version="1.0.1" targetFramework="net452" />
  <package id="SimpleInjector" version="4.0.12" targetFramework="net452" />
  <package id="StringExtensiones" version="1.0.0" targetFramework="net452" />
  <package id="System.Windows.Forms.Ribbon35" version="3.5.8.0" targetFramework="net452" />
  <package id="UtilitiesNet" version="1.0.0" targetFramework="net452" />
</packages>